{% extends "base.html" %}

{% block page_content %}

<h4>Data import for Systems</h4>
<div class="row">

    {% for system in systems%}

    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{system.name}}</h5>
                <p class="card-text">{{system.description}}</p>
                <a href="{% url 'data_import_create' system.name %}"
                   class="btn btn-primary">
                    Import data for {{system.name}}
                </a>
            </div>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}