{% extends "base.html" %}

{% block page_content %}
<h1>Nodes</h1>
<div class="row">
{% for system in systems %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ system.title }}</h5>
                <p class="card-text">{{ system.description }}</p>
                <a href="{% url 'upload_system_logs' system.name %}"
                   class="btn btn-primary">
                    Upload Logs
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}